*
  box-sizing: border-box
html,
body
  min-height: 100%
body
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%)
  font-family: 'Lato', sans-serif
ul
  list-style-type: none
  padding: 0
  margin: 0
#root
  margin: 0 auto
  max-width: 900px
  width: 100%
  padding-top: 25px
  border-right: 3px solid #fff
  border-left: 3px solid #fff
  min-height: 100vh
  position: relative
.btn
  background-color: #247BA0
  border: 1px solid  rgba(255, 255, 255, 0.4)
  padding: 10px
  font-size: 18px
  color: #fff
  transition: 0.3s ease
  cursor: pointer
  border-radius: 5px
  text-decoration: none
  display: block
  &:hover
    background-color: #054F6F
.btn-active
  background-color: #054F6F

.page-nav
  min-height: 80px
  margin-bottom: 25px
  padding: 0 10px
  position: relative
.menu
  display: flex
.user-field
  position: absolute
  right: 35px
  top: 10px
  font-size: 22px
@media only screen and (max-width: 640px)
  .menu
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    height: 100%
    width: 100%
    flex-direction: column
    justify-content: center
    background-color: #247BA0
    visibility: hidden
    opacity: 0
    transition: 0.3s ease
  .menu-show
    visibility: visible
    opacity: 1
  .btn-link
    border-radius: 0
    text-align: center
    border: none