.movie
  text-align: center
  border-top: 1px solid  rgba(255, 255, 255, 0.4)
  position: relative
.movie-title
  font-size: 18px
.btn-return
  position: absolute
  top: 25px
  right: 25px
  padding: 10px
  background-color: #247BA0
  border: 1px solid  rgba(255, 255, 255, 0.4)
  font-size: 18px
  color: #fff
  transition: 0.3s ease
  cursor: pointer
  border-radius: 5px
  text-decoration: none
  &:hover
    background-color: #054F6F