.movie
  text-align: center
  border-top: 1px solid  rgba(255, 255, 255, 0.4)
  position: relative
  max-width: 500px
  width: 100%
  margin: 0 auto
.movie__title
  font-size: 18px
.movie__poster
  width: 300px
  height: 400px
.btn-return
  position: absolute
  top: 85px
  right: 25px
  border-radius: 5px
  text-decoration: none
.btn-favorites
  position: absolute
  top: 250px
  right: 25px
  text-decoration: none
